html{
    background: linear-gradient(#2E86E6,#372EE6,#7433FE);
}
h1.title{
    text-align: center;
}
#sendButton{
    padding: 1em;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: #FFFFFF;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    color: black;
    background-color: #3F68FC;
}
#sendButton:hover{
    color: black;
    background-color: #33CAFE}
a.email{
    text-decoration:solid;
    font-weight: bold;
}
nav{
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}



